.full {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.details {
    background-color: #535353;
}

.userKey {
    padding: 5px;
    margin: 10px;
    color: white;
    background-color: #9C9898;

}

.buttonEl {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 5%;
    color: white;
    background-color: #535353;
    border-color: #9C9898;
}

.postsEl {
    width: 100%;
    height: 320px;
    flex-wrap: wrap;

}

.title {
    width: 20%;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #535353;
    border: #c88a61 1px solid;
    border-radius: 5px;
}

.postButton {
    text-align: center;
    width: 10%;
    color: black;
    background-color: #D9D9D9;
    border-color: #9C9898;
    border-radius: 5px;
}